.chat-wrapper {
    border: 2px solid black;
    width: 400px;
    height: 600px;
    margin: 10px;
}
.message-sender-name {
    padding: 5px;
    padding-bottom: 0px;
    background: gray;
}
.message-text {
    padding: 10px;
    background: lightgray;
}
.input-message {
    padding: 0px;
    border: none;
    width: 100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    resize: none;
}
.send-btn {
    width: 30%;
    padding: 8px 0px;
    text-align: center;
    background: lightseagreen;
    cursor: pointer;
    float: left;
}
.delete-btn {
    width: 30%;
    padding: 8px 0px;
    text-align: center;
    background: lightsalmon;
    cursor: pointer;
    float: left;
}
.message-send-wrapper {
     display: flex;
    /*flex-direction: column; */
}
.change-user {
    background: lightgrey;
}
.status-bar {
    height: 50px;
}
.message-wrapper {
    height: 470px;
}
.chats-wrapper {
    display: flex;
    flex-wrap: wrap;
}